<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.GraphData.UserLogin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.GraphData.UserRegister</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserProfile</servlet-name>
    <servlet-class>com.GraphData.UserProfile</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserSearch</servlet-name>
    <servlet-class>com.GraphData.UserSearch</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserProfileShow</servlet-name>
    <servlet-class>com.GraphData.UserProfileShow</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserProfileChange</servlet-name>
    <servlet-class>com.GraphData.UserProfileChange</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewsfeedCreate</servlet-name>
    <servlet-class>com.GraphData.NewsfeedCreate</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserFollow</servlet-name>
    <servlet-class>com.GraphData.UserFollow</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserCancelFollow</servlet-name>
    <servlet-class>com.GraphData.UserCancelFollow</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserHome</servlet-name>
    <servlet-class>com.GraphData.UserHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserProfile</servlet-name>
    <url-pattern>/fillProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserSearch</servlet-name>
    <url-pattern>/searchUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserProfileShow</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserProfileChange</servlet-name>
    <url-pattern>/changeProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsfeedCreate</servlet-name>
    <url-pattern>/newsfeed_post</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserFollow</servlet-name>
    <url-pattern>/follow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserCancelFollow</servlet-name>
    <url-pattern>/cancel_follow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserHome</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
</web-app>